h1 {
  color: rgb(31, 104, 146);
  font-family: fantasy;
  padding-top: 10px 0;
  margin: 0;
  background-color: #efd3d5;
  text-align: center;
}

.main {
  display: flex;
  background: url("../img/watercolor.webp") no-repeat;
  background-size: cover;
}
#list {
  flex: 5;
  min-height: calc(100vh - 89px);
}

#form {
  flex: 3;
  padding: 20px;
  background-color: #a8e3eb;
  border: 1px solid rgb(222, 250, 222);
  border-radius: 6px;
  min-height: calc(100vh - 89px);
}

#form.control {
  margin-bottom: 12px;
}

#form .control label {
  color: cadetblue;
}

.iImportant {
  font-size: 32px;
  cursor: pointer;
}

#form .control .fas {
  color: lightcoral;
}
#form .control .far {
  color: #ca899f;
}

#form h3 {
  text-align: center;
  font-weight: 100;
  color: #065d60;
  margin-bottom: 10px;
  border-bottom: 2px solid #edb0b4;
  font-family: fantasy;
}

/*  **************  Task item  ****************  */

.task-item {
  display: flex;
  padding: 10px;
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #e9ecef;
}

.task-item:hover {
  border-color: #dd38ec !important;
  border-left-width: 4px;
}
.task-item .icon {
  flex: 0.5;
  padding-top: 6px;
}

.task-item .info-1 {
  flex: 3;
}
.task-item .info-2 {
  flex: 1;
}
.task-item .info-2 label {
  display: block;
}
.task-item .info-3 {
  flex: 1;
}
